@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}

@layer base {
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c3c3c3;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  html.dark {
    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
