:root {
  --text: #222;
  --title: #222;
  --bg: white;
  --code-bg: #232936;
  --link: #d23669;
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --pink: lab(63 59.32 -1.47);
  --purple: lab(33 42.09 -43.19);
}

html.dark:root {
  --text: rgba(255, 255, 255, 0.88);
  --title: white;
  --bg: rgb(40, 44, 53);
  --code-bg: #191d27;
  --link: #ffa7c4;
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --pink: lab(81 32.36 -7.02);
  --purple: lab(78 19.97 -36.75);
}

.markdown {
  line-height: 28px;
  --path: none;
  --radius-top: 12px;
  --radius-bottom: 12px;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

.markdown a {
  @apply border-[--link] text-[--link];
}

.markdown figure.rehype-figure {
  @apply text-center;
}

/**
 * 内联代码块
 */
.markdown :not(pre) > code {
  border-radius: 10px;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

/**
 * 代码块
 */
.markdown pre {
  @apply -mx-2 mb-8 overflow-y-auto p-4 text-sm;
  /* @apply -mx-4 mb-8 overflow-y-auto p-4 text-sm; */
  clip-path: var(--path);
  border-top-right-radius: var(--radius-top);
  border-top-left-radius: var(--radius-top);
  border-bottom-right-radius: var(--radius-bottom);
  border-bottom-left-radius: var(--radius-bottom);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

/**
 * 代码行高亮
 */
.markdown pre [data-highlighted-line] {
  margin-left: -16px;
  padding-left: 12px;
  border-left: 4px solid #ffa7c4;
  background-color: #022a4b;
  display: block;
  padding-right: 1em;
}

.markdown pre [data-highlighted-chars] {
  background-color: #ffa7c4;
}
.markdown pre [data-highlighted-chars] span {
  color: white !important;
}

/* 引用样式 */
.markdown blockquote {
  font-style: italic;
  border-left: 3px solid hsla(0, 0%, 0%, 0.9);
  border-left-color: inherit;
  opacity: 0.8;
}
.markdown blockquote p {
  margin: 0;
  padding: 0;
}
